{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                  <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                  <a href="{% url 'categories_list' %}">Categories</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </a>
                <li>
                  <a href="{% url 'account_list' %}">Accounts</a>
                </li>
              </ul>
        </nav>
    </header>
{% block content %}
{% endblock content %}
</body>
</html>