{% extends 'base.html' %}


{%block content%}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th><!--The first with the header "Vendor" and the rows with the vendor name of the receipt-->
                <th>Total</th><!--"Total" and the total value from the Receipt because we don't yet have tasks-->
                <th>Tax</th><!--"Tax" and the tax value from the Receipt-->
                <th>Due Date</th><!--"Due date" and the due date value formatted as "m/d/YY"-->
                <th>Category</th><!--"Category" and the name of the category for the receipt-->
                <th>Account</th><!--"Account" and the name of the account for the receipt-->
            </tr>
        </thead>
        <!--create a for loop to check each of the comments above for the reciept model-->
        {% for x in receiptlist %}
        <tr>
            <td>{{x.vendor}}</td>
            <td>{{x.total}}</td>
            <td>{{x.tax}}</td>
            <td>{{x.date|date:"m/d/Y"}}</td><!--should be right...needs to be formatted "m/d/YY"-->
            <td>{{x.category}}</td>
            <td>{{x.account}}</td>
        </tr>
        <!--end for loop-->
        {%endfor%}
    </table>
    </main>
{% endblock content%}