{% extends 'base.html' %}  
  
{% block content %}  
  
<main>
<div>  
  <h1> Sign Up</h1>
         <form method="POST" >  
             {% csrf_token %} 
                {{ form.as_p }}  
                    {% comment %} <input type="text" name="username">
                    <input type="password" name="password1"> 
                    <input type="password" name="password2"> {% endcomment %}
                    <button>Signup</button
         </form>  
     </div>  
    </main>
{% endblock content %}