{% extends 'base.html' %}


{%block content%}
<main>
    <h1>My Expenses</h1>
    <a href="{%url 'create_category'%}">Create</a>
    <table>
        <thead>
            <tr>
            <th>Name</th><!--name of expense-->
            <th>No. of Reciepts</th><!--"no. of receipts-->
            </tr>
        </thead>
        <!--create a for loop to check for the name, and no of receipts-->
        {%for info in ExpenseList %}
        <tr>
            <td>{{info.name}}</td>
            <!--use the count method-->
            <td>{{info.receipts.count }}</td>   
        </tr>
        {%endfor%}
    </table>
 
    </main>
{% endblock content%}