{% extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            <!--import the form as p-->
            {{form.as_p}} 
            <div class="control">
                <!--remember the submit button-->
                <button class="button" type="submit">Create</button>
              </div>
            {% comment %} <input type="text" name="vendor">Vendor</input>
            <input type="text" name="total">Total</input>
            <input type="text" name="tax">Tax</input>
            <input type="text" name="date">Date</input>
            <select name="category">Category
                <option value="test">select a category</option>
                <option value="test">renovation</option>
            </select>
            <select name="account">Account
            <option value="test">select an account</option>
            <option value="checking">checking</option>
            </select>
            <button type="submit">Create</button> {% endcomment %}
        </form>
    </div>
</main>
{%endblock content%}